@import "./fonts/roboto.css";
@import 'react-toastify/dist/ReactToastify.css';
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --default-font-family: "Roboto";

    --color-primary: #009fd9;        /* чуть темнее и насыщеннее */
    --color-primary-hover: #4ac8f5;  /* заметно светлее */
    --color-primary-active: #007ba6; /* темнее и контрастнее */

    --color-secondary: #ff9321;
    --color-secondary-hover: #ffad4d;
    --color-secondary-active: #ff8a14;

    --color-danger: #ff4d4d;
    --color-danger-hover: #ff7878;
    --color-danger-active: #ff1a1a;

    --color-success: #34c759;
    --color-success-hover: #5ad47b;
    --color-success-active: #27ae60;

    --color-warning: #ffcc00;
    --color-warning-hover: #ffd93d;
    --color-warning-active: #ffca28;

    --color-text: #000000;
    --color-text-dark: #ffffff;
    --color-text-on-primary: #ffffff;
}

